*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
    img.logo{
        float: left;
    }

img{
    float: right;
}
h1{
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
    border-bottom: 5px solid brown;
    background-color: rgb(173, 83, 83);
    color: brown;
    text-align: center;
}
h2{
    background-color: blue;
}
h3{
    background-color: darkcyan;
}
h4{
    background-color: cyan;
}
h5{
    background-color: aquamarine;
}
h6{
    background-color: lightblue;
}
button{
    height: 50;
}
body{
    background-color: black;
}

