*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
    img.logo{
        float: left;
    }

img{
    float: right;
}
h1{
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
    border-bottom: 5px solid brown;
    background-color: rgb(173, 83, 83);
    color: brown;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(221, 50, 164);
}
h2{
    background-color: blue;
}
span.title{
    background-color: darkcyan;
    font-size: large;
}
h4{
    background-color: cyan;
}
span.para{
    background-color: aquamarine;
    font-size: x-small;
}
h6{
    background-color: lightblue;
}
button{
    height: 50;
}
body{
    background-color: black;
}
img.force{
    float: right;
    position: absolute;
    left: 96%;
    height: 50px;
    clear: right;
}
header{
    position: sticky;
    top:0px;
    z-index: 1;
}
