*{margin: 0%;}
img{
    float: right;
}
h1{
    background-color: rgb(173, 83, 83);
    color: brown;
    border-bottom: 20px;
}
h2{
    background-color: blue;
}
h3{
    background-color: darkcyan;
}
h4{
    background-color: cyan;
}
h5{
    background-color: aquamarine;
}
h6{
    background-color: lightblue;
}


